
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Biryani&family=Roboto+Mono:ital,wght@1,300&display=swap');

:root {
  --border-radius: 0.5rem;
  --shadow-blur: 0.3rem;
  --shadow-spread: 0.2rem;

  --page-padding-x: 3vw;
  --page-padding-y: 3vh;

  --header-height: 10vh;

  --main-purple: #9b9be7;
  --light-purple: #d9d9f6;

  --font-header: "Roboto Mono", Arial, sans-serif;
  --font-subheader: "Asap", Arial, sans-serif;
  --font-body: "Biryani", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: var(--font-body, sans-serif);
  header {
    display: flex;
    flex-direction: column;
    min-height: var(--header-height);
    background-color: var(--light-purple, #d9d9f6);
    padding: var(--page-padding-y, 3vh) var(--page-padding-x, 3vw);
    justify-content: space-between;
    #header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: var(--font-header, sans-serif);
      }
      label {
        font-size: 1.5rem;
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      #hamburger {
        display: none;
      }
      #hamburger-items {
        display: none;
        li {
          list-style: none;
        }
        a {
          display: block;
          padding-top: 1rem;
          text-decoration: none;
          color: black;
          width: 100%;
          text-align: center;
        }
      }
      input:checked ~ #hamburger-items {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 1rem;
        padding-bottom: 0;
      }
    }
  }

  main {
    padding: var(--page-padding-y, 3vh) var(--page-padding-x, 3vw);
    h2, h3 {
      font-family: var(--font-subheader, sans-serif);
    }
    #landing-section {
      padding-top: 5vh;
      height: calc(100vh - var(--header-height, 10vh));
      animation: fadeIn 0.6s ease-out forwards;
      #landing-pictures {
        display: flex;
        #portrait-placeholder {
          width: 10rem;
        }
      }
      h2 {
        font-family: var(--font-header, sans-serif);
        font-size: 4rem;
      }
      p {
        max-width: 70ch;
      }
    }
    .card {
      background-color: white;
      border-radius: var(--border-radius, 0.5rem);
      box-shadow: 0 0 var(--shadow-blur, 0.3rem) var(--shadow-spread, 0.2rem) lightgray;
      padding: 2rem;
      animation: fadeIn 0.6s ease-out forwards;
      hr {
        margin: 0.7rem 0;
      }
    }
    .card-group {
      #education {
        margin-bottom: 2rem;
      }
    }
  }
  main#about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    #skills {
      ul {
        list-style: none;
        column-count: 2;
        li + li {
          margin-top: 1rem;
        }
      }
    }
    ol {
      list-style: none;
    }
  }
  main#projects {
    #project-showcase {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  main#contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    form fieldset {
      border: none;
      div + div {
        margin-top: 1rem;
      }
      input, textarea {
        width: 100%;
        padding: 0.3rem;
        resize: none;
      }
      button {
        margin-top: 1rem;
        width: 100%;
        padding: 0.6rem 0;
        color: white;
        background-color: black;
        border: none;
        border-radius: var(--border-radius, 0.5rem);
      }
    }
    #contact-info {
      h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      h3 ~ h3 {
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  :root {
    --page-padding-x: 10vw;
    --page-padding-y: 2vh;
  }

  body {
    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      label {
        display: none;
      }
      #hamburger {
        display: none;
      }
      nav {
        #hamburger-items {
          display: flex;
          gap: 1rem;
          a {
            color: black;
            text-decoration: none;
            background-color: white;
            padding: 0.5rem 1rem 0.2rem;
            border-radius: var(--border-radius, 0.5rem);
          }
          a:hover {
            background-color: gray;
            color: white;
          }
          a:active {
            background-color: var(--main-purple, #9b9be7);
            color: white;
          }
        }
      }
    }

    main {
      #landing-section {
        padding-top: 10vh;
        height: calc(100vh - var(--header-height));
        animation: fadeIn 0.6s ease-out forwards;
        #landing-pictures {
          display: flex;
          #portrait-placeholder {
            width: 10rem;
          }
        }
        h2 {
          font-family: var(--font-header, sans-serif);
          font-size: 8rem;
        }
      }
      .content-picture {
        display: flex;
        gap: 1rem;
      }
      .card-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }
    main#about { }
    main#projects {
      #project-showcase {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
    }
    main#contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 1200px) {
  :root {
    --page-padding-x: 15vw;
    --page-padding-y: 2vh;
  }

  body {
    header {
      nav {
        #hamburger-items {
          display: flex;
          gap: 2rem;
        }
      }
    }

    main { }
    main#about { }
    main#projects { }
    main#contact { }
  }
}
